<div class="content-box" ng-controller="commutectrl">	
	<div class="search-box">
		<dl class="content-messenge-box">
			<dt>入园车辆</dt>
			<dd ng-bind='sumecar'></dd>
			<dt>出园车辆</dt>
			<dd ng-bind='sumocar'></dd>
	<!-- 		<dt>月票</dt>
			<dd>12</dd> -->
			<dt>已收费用</dt>
			<dd ng-bind='sumamt'></dd>
		</dl>
	</div>
	<div class="control-box">
		<form role="form ">
<!-- 		<div class="form-group col-sm-2">
		<label  for="vehicleNum">确认费用</label>
		<input type="text" class="form-control width-154" id="vehicleNum" placehodler="20" value="20">	
		</div>
		<div class="form-group">
		<label  for="remarks">备注</label>
		<input type="text" class="form-control width-154 remarks" id="remarks" placehodler="备注">	
		</div><br>	 -->
		<button type="submit" class="btn btn-sky width-94 pull-left"  id="is1atwork" style="display:block" ng-click="atwork()"><span class="glyphicon glyphicon-dashboard margin-4"></span>确认上班</button>
		<button type="submit" class="btn btn-sky width-94 pull-left"  id="is1offwork" style="display:none" ng-click="offwork()"><span class="glyphicon glyphicon-dashboard margin-4"></span>确认下班</button>
			<div class="pull-right messenge-ass" ng-show="isworktime">您的上班时间<span class="text-orange">{{worktime}}</span>
		~
		您的下班时间<span class="text-orange">{{offtime}}</span>
		</div>
	</form>
	</div>	
	<div class="table-responsive-2-1">
	<table class="table table-striped table-hover table-bordered table01">
		<thead>
			<tr>
				<td>车牌号</td>
				<td>系统账号</td>
				<td>司机姓名</td>
				<td>入园时间</td>
				<td>出园时间</td>
				<td>停留时间(h)</td>
				<td>产生费用</td>
				<td>实收费用</td>
				<td>状态</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="car in carlist">
				<td>{{car.vehiclenumber}}</td>
				<td>{{car.create_by}}</td>
				<td>{{car.contactname}}</td>
				<td>{{car.entrytime}}</td>
				<td>{{car.outtime}}</td>
				<td>{{car.timedif}}</td>
				<td>{{car.receivable}}</td>
				<td>{{car.realamt}}</td>
				<td>{{car.parkestate==1?'入园':'出园'}}</td>
			</tr>
		</tbody>		
	</table>
	</div>
	<tm-pagination conf="paginationConf" class="page-fix"></tm-pagination>
	<!-- <tm-pagination conf="paginationConf"></tm-pagination> -->
	
</div>
