<div ng-controller="feescaleupdate as vm">
  <div class="light-box-title"><span class="text-white">新增收费标准</span></div>
  <form class="form-horizontal text-normal" name="myForm" autocomplete="off" ng-submit="vm.update()" novalidate>
    <div class="form-group" ng-class="{'has-error':myForm.submitted && myForm.cartypecode.$invalid}">
      <label for="cartypecode" class="col-sm-4 control-label"><code>*</code>车辆类型</label>
      <div class="col-sm-8">
        <select class="form-control width-154" name="cartypecode" ng-model="vm.jsondata.cartypecode" ng-options="it.cartypecode as it.cartype for it in cartype" required>
        <option value="">--车辆类型--</option>
      </select>
        <span class="help-block" ng-show="myForm.submitted && myForm.cartypecode.$error.required">请选择车辆类型！</span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error':myForm.submitted && myForm.parkdate1.$invalid}">
      <label class="col-sm-4 control-label"><code>*</code>时间区间(小时)</label>
      <div class="col-sm-8">
        <input type="number" name="parkdate1" class="form-control width-154" ng-model="vm.jsondata.parkdate1" placeholder="时间区间(小时)" min="0" max="24" required>
        <span class="help-block" ng-show="myForm.submitted && myForm.parkdate1.$error.required">请输入时间区间!</span>
        <span class="help-block" ng-show="myForm.submitted && (myForm.parkdate1.$error.number || myForm.parkdate1.$error.min || myForm.parkdate1.$error.max)">输入的时间区间有误，时间区间范围为0-24！</span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error':myForm.submitted && myForm.price1.$invalid}">
      <label class="col-sm-4 control-label"><code>*</code>单价(元)</label>
      <div class="col-sm-8">
        <input name="price1" type="number" class="form-control width-154" ng-model="vm.jsondata.price1" placeholder="单价(元)" min="0" max="999" required>
        <span class="help-block" ng-show="myForm.submitted && myForm.price1.$error.required">请输入单价!</span>
        <span class="help-block" ng-show="myForm.submitted && (myForm.price1.$error.number || myForm.price1.$error.min || myForm.price1.$error.max)">输入的单价有误，单价范围为0-999！</span>
      </div>
    </div>
    <div class="form-group">
      <div class="text-center">
        <button type="submit" class="btn navbar-btn btn-sky width-94"><span class="glyphicon glyphicon-ok margin-4"></span>确定</button>
        <button type="button" class="btn navbar-btn btn-default width-94" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove margin-4"></span>取消</button>
      </div>
    </div>
  </form>
</div>
