<div ng-controller="vehicletypeupdate as vm">
  <div class="light-box-title"><span class="text-white">{{vm.status}}车辆类型</span></div>
  <form class="form-horizontal text-normal" name="myForm" autocomplete="off" ng-submit="vm.update()" novalidate>
    <div class="form-group">
      <label for="cartypecode" class="col-sm-3 control-label"><code>*</code>类型编号</label>
      <div class="col-sm-9" ng-class="{'has-error':myForm.submitted && myForm.cartypecode.$invalid}">
        <input type="text" name="cartypecode" class="form-control width-154" ng-model="vm.jsondata.cartypecode" placeholder="类型编号" ng-minlength="1" ng-maxlength="10" required>
        <span class="help-block" ng-show="myForm.submitted && myForm.cartypecode.$error.required">请输入1-10个字符的车辆类型编号！</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label"><code>*</code>车辆类型</label>
      <div class="col-sm-9" ng-class="{'has-error':myForm.submitted && myForm.cartype.$invalid}">
        <input type="text" name="cartype" class="form-control width-154" ng-model="vm.jsondata.cartype" placeholder="车辆类型" ng-minlength="1" ng-maxlength="20" required>
        <span class="help-block" ng-show="myForm.submitted && myForm.cartype.$error.required">请输入1-20个字符的车辆类型！</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">备注</label>
      <div class="col-sm-9">
        <input name="remark" type="text" class="form-control width-154" ng-model="vm.jsondata.remark" placeholder="备注">
      </div>
    </div>
    <div class="form-group">
      <div class="text-center">
        <button type="submit" class="btn navbar-btn btn-sky width-94"><span class="glyphicon glyphicon-ok margin-4"></span>确定</button>
        <button type="button" class="btn navbar-btn btn-default width-94" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove margin-4"></span>取消</button>
      </div>
    </div>
  </form>
</div>
