<div ng-controller="setUpParkCtrl as vm">
  <div class="youhui">    
    <form class="form-horizontal text-normal" name="myForm" autocomplete="off" ng-submit="vm.update()" novalidate>
      <div class="form-group" ng-class="{'has-error':myForm.submitted && myForm.caramt.$invalid}">
        <label for="cartypecode" class="col-sm-2 control-label">停车优惠金额</label>
        <div class="col-sm-10">
          <div class="row">
          <input type="number" name="caramt" class="form-control width-154 pull-left" ng-model="vm.jsondata.caramt" placeholder="停车优惠金额" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" style="ime-mode:Disabled" required><span class="pull-left input-ass">(元/天)</span>
          <span class="help-block" ng-show="myForm.submitted && myForm.caramt.$error.required">请输入停车优惠金额！</span>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error':myForm.submitted && myForm.carnightamt.$invalid}">
        <label class="col-sm-2 control-label">停车过夜费</label>
        <div class="col-sm-10">
        <div class="row">
          <input type="number" name="carnightamt" class="form-control width-154 pull-left" ng-model="vm.jsondata.carnightamt" placeholder="停车过夜费" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" style="ime-mode:Disabled" required><span class="pull-left input-ass">(元/晚)</span>
          <span class="help-block" ng-show="myForm.submitted && myForm.carnightamt.$error.required">请输入停车过夜费!</span>
        </div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error':myForm.submitted && myForm.starttime.$invalid && myForm.endtime.$invalid}">
        <label class="col-sm-2 control-label">过夜时间从</label>
        <div class="col-sm-10">
          <div class="row">
          <input name="starttime" type="number" class="youhui-input pull-left form-control width-154" ng-model="vm.jsondata.starttime" placeholder="" min="0" max="24" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" style="ime-mode:Disabled" required>
          <span class="input-ass pull-left ">时  到</span>
          <input name="endtime" type="number" class="youhui-input pull-left form-control width-154 margin-12" ng-model="vm.jsondata.endtime" placeholder="" min="0" max="24" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" style="ime-mode:Disabled" required>
          <span class="input-ass pull-left margin-12">时</span>
          <span class="help-block" ng-show="myForm.submitted && myForm.starttime.$error.required">请输入起始时间!</span>
          <span class="help-block" ng-show="myForm.submitted && myForm.endtime.$error.required">请输入结束时间!</span>
          <span class="help-block" ng-show="myForm.submitted && (myForm.starttime.$error.number || myForm.starttime.$error.min || myForm.starttime.$error.max)">输入的开始时间有误，范围为0-24！</span>
          <span class="help-block" ng-show="myForm.submitted && (myForm.endtime.$error.number || myForm.endtime.$error.min || myForm.endtime.$error.max)">输入的结束时间有误，范围为0-24！</span>
        </div>
        </div>
      </div>
      <div class="form-group margin-36">
        <div class="col-sm-offset-2">
          <button type="submit" class="btn navbar-btn btn-sky width-94"><span class="glyphicon glyphicon-ok margin-4"></span>确定</button>
          <!-- <button type="button" class="btn navbar-btn btn-default width-94" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove"></span>取消</button> -->
        </div>
      </div>
    </form>
  </div>
</div>
